.footer{
    width: 100%;
    margin-top: 50px;
    height: 250px;
    background-color: black;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-link-wrapper{
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}
.footer-header{
    font-weight: bold;
    font-size: larger;
}
.footer-link{
    margin-top: 20px;
    text-transform: capitalize;
    color: white;
}
.footer-link:hover{
    color: #ddd;
}
.footer-link-img{
    margin-top: 20px;
    color: white;
    text-transform: capitalize;
}
.footer-link-img:hover{
    color: #ddd;
}