* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.main-body {
    width: 100%;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 70px;
    overflow: hidden;
    transition: 0.7s ease;
    filter: brightness(40%);
}

.banner-container:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.banner-img {
    width: 110%;
    z-index: 1;
    filter: brightness(60%);
}

.banner-caption {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color: white;
    text-align: center;
    transition: 0.7s ;
    opacity: 0;
    z-index: 2;
}

.banner-container:hover .banner-caption{
    opacity: 100%;
}

.showcase-banner {
    position: relative;
    width: 100%;
    height: 700px;
    margin: auto;
    overflow: hidden;
}

.showcase-banner-background {
    width: 100%;
    height: auto;
    opacity: 150%;
}

.product-showcase-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    column-gap: 5%;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 5%;
    width: 1300px;
    margin: 0 auto;
    height: 500px;
    border-radius: 20px;
    margin-top: 20px;
}

.product-showcase-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.product-showcase-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 20%;
    height: 20%;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 15px;
    background-color: #e1e1e1;
    color: #111;
    overflow: hidden;
    box-shadow: 10px 10px 8px #444;
}

.product-showcase {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 22%;
    height: 75%;
    top: 0;
    background-color: #e1e1e1;
    border: 2px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.7s ease;
    filter: brightness(40%);
    box-shadow: 10px 10px 8px #ccc;
}

.product-showcase:hover {
    top: -10px;
    border: 2px solid #111;
    cursor: pointer;
    filter: brightness(100%);
    box-shadow: 20px 20px 8px #444;
}

.product-showcase-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.product-showcase-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
    margin: 0;
    color: #fff;
    background-color: #111;
    border-radius: 20px;
    z-index: 2;
}
