body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: black;
}
.container1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 350px);
    padding-bottom: 70px;
    margin-top: 70px;
    overflow: hidden;
}

.container-background {
    position: absolute;
    width: 100%;
    height: 120%;
    z-index: 0;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    border: 2px solid #111;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    color: #111;
    z-index: 1;
}

.product-showcase-container {
    display: flex;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 100%;
    height: 80%;
    z-index: 1;
}

.product-showcase {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 250px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    overflow: hidden;
    transition: 0.5s;
}

.product-showcase:hover{
    cursor: pointer;
    border-radius: 0;
    border: 2px solid #111;
    filter: brightness(100%);
    transition: 0.5s;
}

.product-showcase-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 70%;
    height: 9%;
    background-color: #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.5s;
    z-index: 1;
}

.product-showcase:hover .product-showcase-name {
    height: 11%;
    background-color: #111;
    font-size: 20px;
    opacity: 0.9;
}

.product-showcase-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    transition: 0.5s;
    z-index: 0;
}

.product-showcase:hover .product-showcase-image {
    width: 75%;
    height: 75%;
}

.product-showcase-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 0 20px;
    background-color: #333;
    opacity: 0.7;
    transition: 0.5s;
    z-index: 1;
}

.product-showcase:hover .product-showcase-tag{
    background-color: #111;
    opacity: 0.9;
    transition: 0.5s;
}

.product-showcase-tag span {
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.add-to-cart {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    visibility: hidden;
}

.add-to-cart:hover{
    cursor: pointer;
}

.add-to-cart img {
    position: relative;
    width: 25px;
    height: 25px;
    visibility: visible;
    transition: 0.5s;
}

.add-to-cart:hover img{
    width: 28px;
    height: 28px;
}
